/* DEBUG */

/* QWidget {
	background-color: QColor(0,0,0,20); border: 1px solid #000000;
} */

/* batch */
nmc--DkBatchInput QTextEdit {
	border: none;
}

QLabel#batchContentTitle {
	text-transform: uppercase;
	font: light "Segoe UI";
	font-size: 16pt;
	font-weight: 100;
	color: #333;
}

QLabel#batchContentInfo {
	font-style: italic;
	padding-bottom: 20px;
	color: #666;
	font-size: 8pt;
}

QLabel#BatchInfo {
	color: #fff;
	font-style: italic;
}

QLabel#FileNamePreviewLabel {
	font-size: 10pt;
}

nmc--DkBatchWidget nmc--DkResizableScrollArea {
	border: none;
}

nmc--DkBatchButtonsWidget QPushButton:hover,
nmc--DkBatchButtonsWidget QPushButton:checked:hover {
	background-color: rgba(255, 255, 255, 30);
} 

nmc--DkBatchButtonsWidget QPushButton:pressed,
nmc--DkBatchButtonsWidget QPushButton:checked:pressed {
	background-color: HIGHLIGHT_LIGHT;
}

nmc--DkBatchButtonsWidget QPushButton:checked {
	background-color: none;
}

nmc--DkBatchButtonsWidget QPushButton {
	border: none;
}

QPushButton#flatWhite {
	border: none;
	padding: 0;
	margin: 0;
}

QPushButton#flatWhite:hover {
	background-color: rgba(255,255,255,.2);
}

QPushButton#flatWhite:pressed {
	background-color: rgba(255,255,255,.4);
}

QTabBar::close-button {
    image: url(:/nomacs/img/close.svg);
}

QTabBar::close-button:hover {
	image: url(:/nomacs/img/close-hover.svg);
}

QDockWidget {
	font: light "Segoe UI";
	color: #000;
	border: 1px solid #ccc;
}

QDockWidget::title {
    text-align: left; /* align the text to the left */
    padding-left: 5px;
	border-bottom: 1px solid #ccc;
}

QPushButton#DkPlayerButton {
	margin: 0px;
	border: none;
	background-color: HUD_BACKGROUND_COLOR;
}

QPushButton#DkPlayerButton:hover{
	background-color: rgba(0,0,0,.6);
} 

QPushButton#DkPlayerButton:pressed {
	background-color: HIGHLIGHT_LIGHT;
}

QPushButton#DkRestartButton {
	border: none;
	padding: 4px;
}

QPushButton#DkRestartButton:hover{
	background-color: rgba(255,255,255,.2);
} 

QPushButton#DkRestartButton:pressed {
	background-color: HIGHLIGHT_LIGHT;
}

QToolBar {
	border-top: none;
	border-bottom: 1px solid #cdcdcd;
}

QToolBar#cropToolBar {
	spacing: 3px; 
	padding: 3px;
}

QStatusBar#statusBarWithGradient {
	border-top: none; 
	background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #edeff9, stop: 1 #bebfc7); 
}
  
QLabel#thumbsTitle {
	background: rgba(0,0,0,30);
}

QGraphicsView#DkThumbsView {
	border: none;
}

QToolButton#DkThumbToolButton::menu-indicator { 
	image: none; 
}

QLabel#statusBarLabel {
	color: #555;
}

/* 
QToolButton:hover{
	border: none; 
	background-color: rgba(255,255,255,90);
} 

QToolButton:pressed{
	margin: 0px; 
	border: none; 
	background-color: HIGHLIGHT_COLOR;
}
 */
 
/* ViewPort */
QGraphicsView#DkBaseViewPortGradient {
	border-style: none; 
	background: QLinearGradient(x1: 0, y1: 0.7, x2: 0, y2: 1, stop: 0 #edeff9, stop: 1 #d9dbe4);
 }
 
QGraphicsView#DkBaseViewPortDefaultColor {
	border-style: none; 
	background-color: WINDOW_COLOR;
}

QGraphicsView#DkBaseViewPort {
	border-style: none; 
	background-color: BACKGROUND_COLOR;
} 

/* Batch Widgets */
QLabel#DkBatchTitle {
	font-size: 16px;
}

/* Dialogs */
QDialog#DkSplashScreenMac {
	background-color: white;
	font-size: 11px;
}

QLabel#DkSplashInfoLabel {
	font-size: 11px;
}

QPushButton#cancelButtonSplash {
	font-size: 15px; 
	font: bold; 
	color: rgba(0,0,0,200);
}

QLabel#DkDecentInfo {
	color: #666;
}

QLineEdit#DkWarningEdit {
	color: #000;
}

QLabel#DkDecentInfo[warning="true"],
QLineEdit#DkWarningEdit[error="true"] {
	color: #9f1d1d;
}

QListView#resultListView[empty="true"] {
	color: #777777; 
	font-style: italic;
}

QListWidget#historyList {
	font-size: 12pt;
}

QListWidget#historyList::item:disabled {
	color: #666;
	font-style: italic;
}

/* HUD Widgets */
QSlider#slZoom::groove:horizontal {
    height: 5px;
    border: 1px solid HUD_FOREGROUND_COLOR;
}

QSlider#slZoom::handle:horizontal {
    width: 10px;
    border-radius: 3px;
	background: HUD_FOREGROUND_COLOR;
}

QLabel#DkOverview {
	background: HUD_BACKGROUND_COLOR;
}

QLabel#DkOverviewSliderWidget {
	background: HUD_BACKGROUND_COLOR;
}

QLabel#commentTitleLabel {
	color: HUD_FOREGROUND_COLOR;
	margin: 0; 
	padding: 0; 
	font-size: 25px; 
	font-family: Segoe UI; 
	font-weight: light;
}

nmc--DkCommentWidget {
	background-color: HUD_BACKGROUND_COLOR;
}

nmc--DkCommentWidget > nmc--DkCommentTextEdit {
	border: 0; 
	padding-top: 10px; 
	background-color: rgba(0,0,0,0);
	border-top: 2px dotted HUD_FOREGROUND_COLOR; 
	color: HUD_FOREGROUND_COLOR; 
	font-size: 15px; 
	selection-background-color: HIGHLIGHT_COLOR; 
}

QLabel#DkMetaDataHUDTitle {
	color: HUD_FOREGROUND_COLOR; 
	margin: 0; 
	font-size: 21px; 
	font-family: Segoe UI; 
	font-weight: light;
}

QLabel#DkSeparator {
	border-top: 2px dotted HUD_FOREGROUND_COLOR; 
}

nmc--DkFolderScrollBar {
	background-color: HUD_BACKGROUND_COLOR;
	max-height: 15px;
	border: 1px solid #000;
}

nmc--DkFolderScrollBar:handle {
	background-color: HIGHLIGHT_LIGHT;
	width: 30px;
}

nmc--DkFolderScrollBar:handle:hover {
	background-color: HIGHLIGHT_COLOR;
}

nmc--DkFolderScrollBar::groove:horizontal {
	background-color: rgba(0,0,0,0);
}

nmc--DkFileInfoLabel {
	background-color: HUD_BACKGROUND_COLOR;
	color: HUD_FOREGROUND_COLOR;
}

QLabel#DkMetaDataLabel {
	color: HUD_FOREGROUND_COLOR;
}

QLabel#DkMetaDataKeyLabel {
	color: HUD_FOREGROUND_COLOR;
}

QLabel#DkMetadataValueLabel {
	color: #666;
}

nmc--DkManipulatorWidget > QScrollArea,
nmc--DkMetaDataHUD > QScrollArea {
	background-color: transparent;
	border: none;
}

nmc--DkManipulatorWidget > QScrollArea > QWidget > QWidget,
nmc--DkMetaDataHUD > QScrollArea > QWidget > QWidget {
	background-color: transparent;
	border: none;
}

nmc--DkMetaDataHUD {
	background-color: HUD_BACKGROUND_COLOR;
}

QPushButton#removeFileButton {
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
	border: none;
}

QPushButton#removeFileButton:hover {
	background-color: rgba(255,255,255,.4);
}
 
/* preferences */
QScrollArea#DkPreferenceTabs,
QWidget#DkPreferenceTabs,
QWidget#DkBatchTabs {
	background-color: #333;
}

QPushButton#DkTabEntryWidget,
nmc--DkBatchTabButton {
	color: #fff;
	font: thin "Segoe UI";
	font-size: 14pt;
	padding: 10px 20px;
	text-align: left;
	border: none;
}

nmc--DkBatchTabButton {
	min-width: 250px;
	padding-bottom: 30px;
}

QPushButton#DkTabEntryWidget:hover,
QPushButton#DkTabEntryWidget:checked:hover,
nmc--DkBatchTabButton:hover,
nmc--DkBatchTabButton:checked:hover {
	background-color: rgba(255, 255, 255, 30);
}

QPushButton#DkTabEntryWidget:checked,
nmc--DkBatchTabButton:checked {
	background-color: rgba(0, 0, 0, 80);
	border: none;	/* clear border styles first */
	border-left: 4px solid HIGHLIGHT_COLOR;
}

QLabel#DkPreferenceTitle {
	text-transform: uppercase;
	padding: 10px 20px;
	font: light "Segoe UI";
	font-size: 24pt;
	font-weight: 100;
	border-bottom: 1px solid #333;
	border-top: 1px solid rgba(255,255,255,0);	/* that's a hack - border-bottom is not working otherwise */
}

QPushButton#infoButton {
	font: light "Segoe UI";
	font-size: 16pt;
	font-weight: 100;
	color: #666;
	text-align: left;
	padding-left: 20px;
	border: none;
}

QPushButton#infoButton:hover {
	color: HIGHLIGHT_COLOR;
}

QPushButton#infoButton:pressed {
	color: HIGHLIGHT_LIGHT;
}

QWidget#DkPreferenceWidget {
	margin-top: 10px; /* not working?! */
	margin-left: 10px;
}

QLabel#subTitle {
	font: light "Segoe UI";
	margin-top: 10px;
	font-size: 14pt;
	color: #666;
}

/* preferences widgets */
QComboBox#languageCombo,
QSpinBox#numThreads,
QPushButton#logFolder,
nmc--DkDisplayPreference QSpinBox,
nmc--DkDisplayPreference QDoubleSpinBox,
nmc--DkDisplayPreference QComboBox {
	max-width: 200px;
}

QLabel#settingsInfoLabel {
	padding-top: 6px;
	font: italic;
}

nmc--DkGroupWidget QCheckBox,
nmc--DkGroupWidget QRadioButton,
nmc--DkGroupWidget QPushButton,
nmc--DkGroupWidget QSpinBox,
nmc--DkGroupWidget QDoubleSpinBox,
nmc--DkGroupWidget QComboBox,
nmc--DkGroupWidget QLineEdit,
nmc--DkGroupWidget QLabel {
	font-size: 10pt;
}

nmc--DkGroupWidget QCheckBox,
nmc--DkGroupWidget QRadioButton,
nmc--DkGroupWidget QLineEdit,
nmc--DkGroupWidget QLabel {
	color: #666;
}

nmc--DkProgressBar {
	max-height: 3px;
}

/* plugins */
nmc--DkDescriptionEdit {
	border: none;
	background-color: rgba(0,0,0,0);
}

/* edit image */
nmc--DkBaseManipulatorWidget#darkManipulator QSpinBox,
nmc--DkBaseManipulatorWidget#darkManipulator QLabel,
nmc--DkBaseManipulatorWidget#darkManipulator QCheckBox,
nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox,
nmc--DkBaseManipulatorWidget#darkManipulator QLineEdit {
	color: #fff;
}

nmc--DkBaseManipulatorWidget#darkManipulator QLineEdit,
nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox,
nmc--DkBaseManipulatorWidget#darkManipulator QSpinBox {
	background: #333;
	border: none;
	border-bottom: 1px solid #fff;
}

nmc--DkBaseManipulatorWidget#darkManipulator QWidget {
	background: #333;
}

nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox::up-button,
nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox::down-button,
nmc--DkBaseManipulatorWidget#darkManipulator QSpinBox::up-button,
nmc--DkBaseManipulatorWidget#darkManipulator QSpinBox::down-button {
	border: none;
	/* background-color: rgba(0,0,0,0); */
}	

nmc--DkBaseManipulatorWidget#darkManipulator QSlider::groove:horizontal {
	border: none; 
	height: 3px; 
	margin: 2px 0;
	background: #fff;
}

nmc--DkBaseManipulatorWidget#darkManipulator QSlider::handle:horizontal {
	background-color: #fff; 
	width: 6px; 
	margin:-8px 0px -8px 0px;
	border: 2px solid #333;
}

nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox::up-button,
nmc--DkBaseManipulatorWidget#darkManipulator QDoubleSpinBox::down-button,
nmc--DkBaseManipulatorWidget#darkManipulator QSpinBox::up-button,
nmc--DkBaseManipulatorWidget#darkManipulator QSlider::down-button {
	border: none;
	background-color: rgba(0,0,0,0);
}

nmc--DkBaseManipulatorWidget#darkManipulator {
	/* background-color: palette(light); */
	/* border-radius: 7px; */
}

/* DkManipulationWidget */
nmc--DkBaseManipulatorWidget#darkManipulator QSlider#DkBrightnessSlider::groove:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #3c3c3c, stop:1 #c8c8c8);
}

nmc--DkBaseManipulatorWidget#darkManipulator QSlider#DkSaturationSlider::groove:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #ffffff, stop:1 #00ffff);
}

nmc--DkBaseManipulatorWidget#darkManipulator QSlider#DkHueSlider::groove:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #ff0000, stop:0.167 #ffff00, stop:0.333 #00ff00, stop:0.5 #00ffff, stop:0.666 #0000ff, stop:0.833 #ff00ff, stop:1 #ff0000);
}

QLabel#DkManipulatorSettingsTitle {
	font: thin "Segoe UI";
	font-size: 14pt;
	color: #fff;
	margin-bottom: 5pt;
}

QSlider#cpHueSlider::groove:vertical {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ff0000, stop:0.167 #ff00ff, stop:0.333 #0000ff, stop:0.5 #00ffff, stop:0.666 #00ff00, stop:0.833 #ffff00, stop:1 #ff0000);
}

QSlider#cpHueSlider::handle:vertical {
	border: 0px solid #333;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	height: 5px;
}

/* profile widget */
nmc--DkProfileSummaryWidget {
	background-color: rgba(255, 255, 255, 200);
}

QLabel#summaryMeta {
	margin-left: 20px;
	qproperty-alignment: AlignRight;
}

QListWidget#profileList {
	font-size: 14pt;
	max-width: 400px;
}

nmc--DkMetaDataSelection QScrollArea QWidget {
	background-color: #fff;
}

QLabel#DkLabelBg {
	color: HUD_FOREGROUND_COLOR;
	background-color: HUD_BACKGROUND_COLOR;
	padding: 5px;
}

/* DkRecentFiles */
nmc--DkRecentFilesWidget QScrollArea {
	border: none;
	background-color: transparent;
}

nmc--DkRecentDirWidget {
	background-color: rgba(255, 255, 255, 100);
	border: 1px solid rgba(255, 255, 255, 150);
	border-radius: 7px;
}

nmc--DkRecentDirWidget::hover {
	background-color: rgba(255, 255, 255, 150);
}

QLabel#recentFilesTitle {
	font: light "Segoe UI";
	font-size: 16pt;
	color: #000;
	font-weight: 100;
}

QLabel#recentFilesPath {
	font: "Segoe UI";
	font-style: italic;
	color: #666;
}

QPushButton#load_dir,
QPushButton#pin,
QPushButton#remove {
	border: none;
	padding: 4px;
}

QPushButton#load_dir:hover,
QPushButton#pin:hover,
QPushButton#remove:hover {
	background-color: HIGHLIGHT_LIGHT;
} 

QPushButton#load_dir:pressed,
QPushButton#pin:pressed,
QPushButton#remove:pressed {
	background-color: HIGHLIGHT_LIGHT;
}

nmc--DkThumbPreviewLabel {
	padding: 1px;
}

nmc--DkThumbPreviewLabel[empty="true"] {
	background-color: #ddd;
}

nmc--DkThumbPreviewLabel:hover {
	border: 1px solid HIGHLIGHT_COLOR;
}

QDoubleSpinBox#sbZoom {
	margin: 0px;
	padding: 0px; 
	color: HUD_FOREGROUND_COLOR;
	background-color: rgba(0,0,0,0); 
	border: none;
	selection-background-color: HIGHLIGHT_COLOR;
}

QPushButton#displayButton {
	border: 1px solid #ddd;
	background-color: #fff;
	
	font: light "Segoe UI";
	font-size: 16pt;
	color: #000;
	font-weight: 100;
}

QPushButton#displayButton:hover {
	background-color: HIGHLIGHT_LIGHT;
}

QPushButton#displayButton:checked {
	border: 1px solid HIGHLIGHT_COLOR;
}

QToolBar {
	background-color: BACKGROUND_COLOR;
}
